@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}
* {
  font-family: Roboto, sans-serif;
  background-color: #1B1A17;
}

button {
  color: #F0E3CA;
  border-radius: 8px;
  border: 2px solid #A35709;
  cursor: pointer;
}

button:hover {
  background-color: #242320;
  border-color: #FF8303;
}

p,
h3 {
  color: #F0E3CA;
  justify-content: center;
  align-items: center;
}

.main-section {
  padding: 20px 40px;
}

.base-form {
  display: flex;
  flex-direction: row;
  padding: 23px 22px;
  height: 110px;
  justify-content: center;
}
.base-form .input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.base-form .input-element {
  height: 48px;
  background-color: #242320;
  border: 1px solid #A35709;
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
}
.base-form .add-button {
  margin-left: 10px;
  width: 20%;
}
.base-form .add-button .add {
  margin: 23px;
  justify-content: center;
  align-items: center;
}

.no-tasks {
  position: relative;
  top: 40%;
  left: 45%;
  transform: translate(10%, 30%);
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
}
.no-tasks ::before {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #A35709;
  border: 3px solid #A35709;
  border-radius: 8px;
}
.no-tasks ::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background-color: #A35709;
  border: 3px solid #A35709;
  border-radius: 8px;
}
.no-tasks p {
  font-weight: 400;
  font-size: 24px;
}

.tasks-list {
  display: flex;
  margin-top: 32px;
  padding: 0;
  gap: 10px;
}
.tasks-list .task-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 3px solid #A35709;
  padding: 10px 16px;
  position: relative;
  margin-bottom: 10px;
}
.tasks-list .task-item h3,
.tasks-list .task-item p {
  margin: 0;
  font-weight: 500;
  width: 80%;
}
.tasks-list .task-item p {
  font-size: 14px;
  font-weight: 400;
}
.tasks-list .task-item .close-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url("../images/delete-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.tasks-list .task-item .task-menu {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 10px;
  padding-top: 5px;
}
.tasks-list .task-item .task-menu button {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #A35709;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-window {
  margin: 15% auto;
  padding: 30px 20px;
  width: 30%;
  height: 148px;
  text-align: center;
  border-top: 6px solid #A35709;
  border-radius: 8px;
}
.delete-window p {
  font-weight: 400;
  font-size: 30px;
}
.delete-window button {
  height: 30px;
  width: 30%;
  font-size: 16px;
}

.menu-section {
  justify-content: center;
  align-items: flex-end;
}
.menu-section .menu {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 80%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  list-style: none;
  border: 1px solid #A35709;
}
.menu-section .menu li {
  cursor: pointer;
}

.task-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
  margin-top: -5px;
  gap: 10px;
  flex-direction: row;
}
.task-menu button {
  background-color: #242320;
  border: 2px solid #A35709;
  border-radius: 50%;
  color: #A35709;
  width: 40px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-menu button.share-button {
  background-image: url("../images/share-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.task-menu button.info-button {
  background-image: url("../images/info-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.task-menu button.edit-button {
  background-image: url("../images/edit-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.edit-section .edit {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 5%;
  right: 5%;
  top: 50%;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border-radius: 8px;
  background-color: #1B1A17;
}
.edit-section .edit.edit-elements {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  flex-direction: column;
}
.edit-section .edit.edit-elements.edit-element {
  width: 80%;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  color: #F0E3CA;
  border: 1px solid #A35709;
  background-color: #242320;
}
.edit-section .edit.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.edit-section .edit.buttons button {
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .base-form {
    display: flex;
    width: 80%;
    height: 30%;
    margin: 0;
    border: 1px solid white;
  }
  ul {
    border: 1px solid white;
    margin: 5px auto;
    width: 50%;
    height: auto;
  }
  ul .task-item {
    height: 100px;
  }
  ul .task-item h3 {
    font-size: 36px;
  }
  ul .task-item p {
    font-size: 30px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2600px) {
  .base-form {
    width: 50%;
    height: 300px;
    border: 1px solid green;
    margin: 10px auto;
    display: flex;
  }
  ul {
    border: 1px solid white;
    margin: 5px auto;
    width: 50%;
    height: auto;
  }
  ul .task-item {
    height: 100px;
  }
  ul .task-item h3 {
    font-size: 36px;
  }
  ul .task-item p {
    font-size: 30px;
  }
  .menu {
    height: 300px;
  }
}/*# sourceMappingURL=general.css.map */