$background-color: #1B1A17;
$blocks-hover-color: #1F1E1B;
$border-color: #A35709;
$border-hover: #FF8303;
$text-color: #F0E3CA;

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto.ttf");
}


* {
    font-family: Roboto;
    background-color: $background-color;
}

button {
    color: $text-color;
    border-radius: 8px;
    border: 2px solid $border-color;
    cursor: pointer;
}

button:hover {
    background-color: $blocks-hover-color;
    border-color: $border-hover;
}

p {
    color: $text-color;
}



.main-section {
    width: 100%;
}

.base-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 23px;
    padding-top: 23px;
    padding-right: 22px;
    height: 80px;

    & .input-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }

    & .input-element {
        height: 32px;
        background-color: $blocks-hover-color;
        border: 1px solid $border-color;
        border-radius: 8px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
    }

    & .add-button {
        width: 10%;
        padding: 23px;
        margin-left: 10px;
    }

}


.no-tasks {
    position: relative;
    top: 40%;
    left: 45%;
    transform: translate(10%, 30%);
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;

    ::before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: $border-color;
        border: 3px solid $border-color;
        border-radius: 8px;
    }

    ::after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: $border-color;
        border: 3px solid $border-color;
        border-radius: 8px;
    }

    p {
        font-weight: 400;
        font-size: 24px;
    }
}